/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #F2A20C;
  --white-color: #E9EAEC;
  --dark-color: #272D40;
  --dark-color-lighten: #F2F5FF;
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

/*===== CARD =====*/
.container {
  background-color: var(--dark-color-lighten);
  padding: 3rem;
}
.display-productos{
  display: grid;
 grid-template-columns: repeat(4,1fr);

}
.card {
  width: 250px;
  height: 400px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  padding: 2rem 2rem 0;
  color: var(--white-color);
  overflow-y: hidden;
  margin:2rem;
}

.card__imag {
  width: 180px;
  height: 180px;
  position: absolute;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data {
  transform: translateY(11.2rem);
  text-align: center;
}

.card__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.card__preci {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: 500;
  margin-bottom: .6rem;
}

.card__description {
  font-size: var(--small-font-size);
  text-align: initial;
  margin-bottom: .6rem;
  opacity: 0;
  line-height:20px;
}

.card__button {
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: var(--first-color);
  color: var(--white-color);
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card__button:hover {
  box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

.card__imag, 
.card__data, 
.card__title, 
.card__preci, 
.card__description {
  transition: .5s;
}

/* Hover card effect */
.card:hover .card__imag {
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card:hover .card__data {
  transform: translateY(4.8rem);
}

.card:hover .card__title {
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card:hover .card__preci {
  transform: translateX(-5.8rem);
}

.card:hover .card__description, 
.card:hover .card__button {
  transition-delay: .2s;
  opacity: 1;
}
.texto_titulo{
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  color: #F2A20C !important;
  text-shadow: 1px 1px white, -1px -1px #333;
 
  color: #ddd;
  padding: 10px;
}